SpeechRecognition
Cython
pyttsx3
nemo_toolkit
hydra-core
lightning
librosa
transformers
sentencepiece
pandas
youtokentome
inflect
editdistance
lhotse
pyannote.audio
webdataset
datasets
jiwer
ipython
librosa
matplotlib
einops
hydra-core
wandb
openai